main{
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border-style:outset;
    row-gap: 1.5em;
}

.imagen{

}

.titulo{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(3, 35, 45);
}

.texto{
    font-size: 1em;
    color: rgb(136, 145, 153);
    padding-left: 2.5em;
    padding-right: 2.5em;
}


